@tailwind base;
@tailwind components;
@tailwind utilities;

.herocard {
  background-color: yellow-200;
}

.head {
background-color: #e5e5f7;
opacity: 0.8;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 40px ), repeating-linear-gradient( #777ce555, #777ce5 );
}
